<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eNutrition</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">User Level</th>
          <th scope="col">Add Admin Access</th>
          <th scope="col">Remove Admin Access</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.user_id}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.user_level}}</td>
          <td><a href="/make_admin/{{user['user_id']}}"><button class="btn btn-danger">Make Admin</button></a></td>
          <td><a href="/remove_admin/{{user['user_id']}}"><button class="btn btn-danger">Remove Admin</button></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
